/* GENERAL */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-image: url(img/pink.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;

    /* border: 5px solid yellow; */
}

div {

}

section {
    width: 100%;
    height: 220px;
    display: flex;

    /* border: 2px solid red; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;

    /* border: 3px solid blue; */
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin-top: auto;
    background-color: #FA3CA4;
    border-top: 10px groove #DD207D;

    /* border: 5px solid black; */
}

/* SPECIFIC */

.main {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;

    /* border: 5px solid black; */
}

section.sec1 {
    justify-content: left;
    padding: 15px;
}

section.sec3 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: baseline;
    align-items: last baseline;
    padding-bottom:15px;
    padding-right: 15px;

    /* border: 2px solid blue; */
}

.container {
    display: flex;

    border: 1px solid black;
}

    .container#small {
        width: 100px;
        height: 100px;
        margin-left: 30px;
        /* margin-right: 30px; */
    }

    .container#medium {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
    }

.start-button {
    display: flex;
    gap: 20px;
    padding: 15px;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
    border-right: 2px dashed #FF9FB3;
    color: #EFDCD8;

    font-size: 25px;


}

.task-bar {

}

.info-button {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-left: 2px dashed #FF9FB3;
    gap: 10px;

    font-size: 25px;
}

#time {
    color: #EFDCD8;
}

/* MEDIA QUERIES */

@media(max-width: 768px){
    nav{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container#small {
        height: 50px;

    }

    .container#medium {
        height: 100px;
    }
}